# Environments & Secrets
.env
.env.local
kaggle.json

# Audio Outputs & Chunks (Too heavy for git)
output/audio_chunks/*
output/masters/*.wav
output/temp/*
*.temp.mp3
*.raw.wav

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
